.form-head {
    font-family: Garamond, serif;
}

.form {
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fafaeb;
    height: 120px;
    margin-bottom: 2rem;
}
.real-form {
    
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}

.task-innput-duration {
    margin: auto;
}

.task-input-name {
    margin: auto;
}

.submit-btn {
    margin: auto;
    background-color: #2ea44f;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    outline: none;
    line-height: 2;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #2c974b;
}

.submit-btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
}

.submit-btn:active {
    background-color: #298e46;;
     box-shadow: none;
}

.name-input {
    margin-left: 1rem;
    width: 7rem;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
}

.time-input {
    margin-left: 1rem;
    width: 3rem;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
}